<body>
    <h1>CHESSMATE</h1>
    <p>
       You have received a challenge from someone on CHESSMATE,
       do you except?
    </p>
    <button><%= link_to 'Go to invite page', @url %></button>
</body>