<section class='invite-box'>
    <h2>Do you except the challenge?</h2>
    <button><%= link_to 'Join', game_join_path(@game) %></button><br><br>
    <span class='invite-description'>Just click the join button and you will be added as the black pieces.</span>
</section>
