// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.available-game-box {
    background: #dcdcdc !important;
    border-radius: 5px !important;
}

.btn-primary {
    margin-top: 10px;
    border-radius: 5px !important;
}

.games-list-item {
    display: block;
    width: 100%;
    text-align: center;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #74b9ff;
    color: black;
}