// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.available-game-box {
    background: #d2d2d2 !important;
    border-radius: 0.3125rem !important;
}

.btn-primary {
    margin-top: 0.625rem;
    border-radius: 0.3125rem !important;
}

.games-box {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    .game-item {
        width: 32.3%;
        height: 238px;
        min-width: 308px;
        padding-right: 0;
        box-shadow: 10px 10px 24px -6px rgba(0, 0, 0, 0.75);
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.avatar-image {
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
    text-align: center;
}

.avatar-image-nav {
    width: 35px;
    height: 35px;
    border-radius: 50% !important;
    text-align: center;
}

.avatar-image-game {
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
    text-align: center;
}

.create-button {
    background: #159078 !important;
    padding: 15px !important;
    margin-top: 20px;
    width: 89%;
    color: #fff !important;
    margin: 0 auto;
    margin-top: 20px;
    a {
        color: #fff !important;
        text-decoration: none !important;
    }
}

.create-button:hover {
    background: #1ABC9C !important;
}


.btn-box {
    padding: 0;
}