// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.available-game-box {
    background: #d2d2d2 !important;
    border-radius: 0.3125rem !important;
}

.btn-primary {
    margin-top: 0.625rem;
    border-radius: 0.3125rem !important;
}

.games-list-item {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 0.039em;
    border-radius: 0.3125rem !important;
    background: #2F316A;
    color: #fff;
    a {
        color: #fff;
    }
}
