@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

h1 {
  color: black;
  font-size: 4.500em;
  font-family: 'Francois One', sans-serif;
  padding-top: 0.625rem;
}

h2 {
  color: black;
  font-family: 'Francois One', sans-serif;
  font-size: 2.000em;
}

h3 {
  color: black;
  font-family: 'Francois One', sans-serif;
}

.main-nav {
  display: inline-block;
  float: right;

}

.logo {
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
}

.main-nav-link {
  padding-right: 1.875rem;
}



.alert {
  border-radius: none !important;
}

.alert-alert {
  border-radius: none !important;
}

.user-info {
  text-align: center;
  margin: 0;
  padding: 0;
}

.hero {
  content: url('hero.png');
  width: 100vw;
  position: relative;
  z-index: -1;
  bottom: 1rem;
}

.game-name {
  text-align: center;
  position: relative;
  bottom: 1rem;
  margin: 0;
}

.frosted {
  position: absolute;
  top: 4.6875rem;
  right: 0.625rem;
  padding: 0.9375rem 1.875rem 0.9375rem 1.875rem;
  margin-top: 5rem;
  width: 48vw;
  text-align: right;
}

.frosted h1 {
  color: #4C4FAA;
  
}

.frosted h2 {
  color: #d2d2d2;
}

body {
  font-family: 'Didact Gothic', sans-serif;
  background-image: url("bg.png");
}

.booyah-box {
  background-color: #f5f5f6;
  color: white;
  padding: 2vw;
}

.booyah-box a {
  margin-left: 0.625rem;
}

.create-game {
  margin-top: 7.5rem;
  h1 {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 1.25rem;
    text-align: center;
  }

  form#new_game {
    margin: 0 auto;
  }
}

.row {
  margin: 0 auto;
}

.start-button {
  margin: 0 auto;
}

.games-list {
  margin: 0 auto;
}

.games-list p {
  text-align: center;
  color: black;
  text-transform: uppercase;
}

.available-games {
  font-size: 3.000em;
  border-bottom: 1px solid #262d38;
  padding: 0.625rem !important;
  color: #262d38;
}

.noticer {
  width: 100%;
  height: 3.125rem;
  background: #a29bfe;
  text-align: center;
  position: relative;
}

.noticer p {
  position: relative;
  top: 0.625rem;
  font-size: 1.250em;
  color: #fff;
}

#board {
  position: relative;
  bottom: 1rem;
  top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5625rem;
  background-color: #596367;
  border: 0.0625rem solid #525252;
  -webkit-box-shadow: 0.625rem 0.625rem 0.75rem -0.125rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.625rem 0.625rem 0.75rem -0.125rem rgba(0, 0, 0, 0.75);
  box-shadow: 0.625rem 0.625rem 0.75rem -0.125rem rgba(0, 0, 0, 0.75);
  td {
    background-image: url("white.png");
    background-position: left;
    border-collapse: collapse;
    width: 3.4375rem;
    height: 3.4375rem;
    border: lightgrey;
  }
}

.board td:hover {
  outline-offset: -0.3125rem;
  outline: 0.3125rem solid #94eded;
}

#board tr:nth-child(odd) td:nth-child(even),
#board tr:nth-child(even) td:nth-child(odd) {
  background-image: url("black.png");
  background-position: left;
  border-collapse: collapse;
}

#board td img {
  height: auto;
  width: 100%;
}

.center {
  text-align: center;
  margin: auto;
  padding-bottom: 2.5rem;
}

.btn {
  background-color: #c1d5e0;
  border: 0px;
  color: black;
}

.btn:hover {
  background-color: #62757f;
  border: 0px;
  color: #c1d5e0;
}
