.navbar,
.container,
.hero {
  margin: 0;
}

.navbar {
  background: #313131;
  position: relative;
  .logo {
    color: #fff;
  }

  .nav-item a {
    font-family: 'Raleway', sans-serif;
    color: #fff;
  }

  .main-nav li {
    float: right;
  }
}

.notice {
  background: #38ada9 !important;
  height: 35px !important;
  border-radius: none !important;
}

.alert {
  background: #e74c3c !important;
  height: 35px !important;
  border-radius: none !important;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 36px;
  color: #fff;
}

.alert-alert {
  border-radius: none !important;
}
