$primary-link-color: #e17055;

.navbar,
.container,
.hero {
  margin: 0;
}

.navbar {
  background: #313131;
  position: relative;
  .logo {
    color: #fff;
  }
  .logo:hover{
    color: #e17055;
    font-size: 1.281em;
  }
  .nav-item a {
    font-family: 'Raleway', sans-serif;
    color: #fff;
  }
  
  .nav-item a:hover {
    color: $primary-link-color;
    text-decoration: none;
  }
  .main-nav li {
    float: right;
  }
}

.notice {
  background: #38ada9 !important;
  height: 2.188em !important;
  border-radius: none !important;
}

.alert {
  background: #e74c3c !important;
  height: 2.188em !important;
  border-radius: none !important;
  text-align: center;
  margin-bottom: 1.250em;
  padding-bottom: 2.250em;
  color: #fff;
}

.alert-alert {
  border-radius: none !important;
}
