.main-nav li { 
    float: right;
}
.notice {
  background: #38ada9 !important;
  height: 35px !important;
  border-radius: none !important;
}

.alert {
  background: #e74c3c !important;
  height: 35px !important;
  border-radius: none !important;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 36px;
  color: #fff;
}

.alert-alert {
  border-radius: none !important;
}