.remember-me {
  position: relative;
  bottom: 0.688em;
  font-size: 0.813em;
}

.already-member {
  font-size: 0.750em;
  color: #fff;
}

.forgot-password {
  font-size: 0.688em;
}

.min-password {
  font-size: 0.688em;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

textarea:focus,
input:focus {
  outline: none;
}
