$primary-btn-color: #f39c12;
$hover-btn-color: #b15742;
$primary-link-color: #2d3436;
$thetransition: all .5s cubic-bezier(1,.25,0,.75) 0s;

.splash-bg {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.67), 
      rgba(0, 0, 0, 0.67)
    ), url('splash_bg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    .logo_description {
        width: 100%;
        margin: 0 auto;
        position: relative;
        top: 12.5rem;
        h1 {
            text-align: center;
            font-size: 6.375em;
            width: 100%;
            color: #fff;
        }
        .sub-text {
            margin-top: 0;
            margin-bottom: 1rem;
            text-align: center;
            color: #fff;
        }
        .signup-btn {
            margin: 0 auto;
            display: block;
            width: 9.375rem;
            background: $primary-btn-color;
            color: #fff;
            border-radius: 0.1875rem;
        }
        .signup-btn:hover {
            width: 12.5rem;
            color: #fff;
            background: $hover-btn-color;
            border-radius: 0.1875rem;
            border: 1px solid #fff;
        }
        .social {
            display: block;
            width: 193px;
            margin: 0 auto;
            margin-top: 20px;
        }
        .social-p {
            color: rgba(255, 255, 255, 0.41);
            margin-left: 1.25rem;
            font-size: 22px;
        }
        .social-p:hover {
            color: #fff;
        }
    }
}



.instruction-navigation {
    background: #fff;
    border-bottom: red;
    header {
        width: 100%;
        margin: 0 auto;
        color: #e1714e;
        h1 {
            text-align: center;
            font-size: 51px;
            margin-top: 100px;
            color: #353535;
        }
        p {
            width: 300px;
            margin: 0 auto;
            margin-bottom: 20px;
            margin-top: 0;
            color: #f39c12;
        }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: block;
      margin: 0 auto;
      margin-bottom: 40px;
      margin-top: 70px;
      width: 100%;
      max-width: 400px;
      li {
          float: left;
          margin-left: 19px;
          a {
          display: block;
          color: $primary-link-color;
          text-align: center;
          text-decoration: none;
          position: relative;
          font-family: 'Raleway', sans-serif;
          &:before {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: $primary-btn-color;
              visibility: hidden;
              -webkit-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transition: $thetransition;
              transition: $thetransition;
              }
              &:hover:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
              }
          }
        
        
      }
    }
}

.instructions {
    height: auto;
    width: 90%;
    margin: 0 auto;
    .instruction-text {
        background: #f39c12;
        border-bottom: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
        font-family: 'Raleway', sans-serif;
        height: auto;
        padding: 20px;
        margin-bottom: 10px;
        h1 {
            text-align: center;
            font-size: 30px;
        }
        p {
            text-align: center;
        }
    }
    .piece {
        background: #efefef;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgrey;
        margin-bottom: 10px;
        .piece-img {
            width: 100%;
            padding-top: 22px;
        }
    }
}

@media (max-width: 404px) {
    .instruction-navigation {
        li a {
            font-size: 13px;
        }
    }
}

@media (max-width: 536px) {
    .logo_description h1 {
        font-size: 4.375em !important;
    }
}