.edit-user-box {
    width: 252px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    h2 {
        text-align: center;
        color: #fff;
    }
}

.edit-user {
    margin: 0 auto;
}

#user_avatar {
    background: red;
}