.edit-user-box {
    width: 252px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    h2 {
        text-align: center;
        color: #fff;
    }
}

.edit-user {
    margin: 0 auto;
}

#user_avatar {
    background: #313131;
    border: none;
    color: #fff;
}

.user-profile {
    button {
        width: 100%;
        height: 40px;
        background: #519ac6;
        margin-top: 10px;
        border-radius: 5px;
        min-width: 230px;
        border: none;
        color: #fff;
        a {
            color: #fff;
        }
    }
    .user-image {
        background: #f3f3f3;
        border: 1px solid #c4c4c4;
        border-radius: 6px;
        height: 236px;
        -webkit-box-shadow: 10px 10px 17px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 17px -12px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 17px -12px rgba(0,0,0,0.75);
    }
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
    min-width: 230px;
    img {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50% !important;
        display: block;
        margin: 0 auto;
        top: 48px;
        border: 4px solid #519ac6;
        padding: 4px;
    }
    p {
        text-align: center;
    }
}

.user-info-profile {
    min-width: 230px;
    background: #f39c12;
    border-radius: 5px;
    margin-top: 11px;
    height: 100px;
    color: #fff;
    -webkit-box-shadow: 10px 10px 17px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 17px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 17px -12px rgba(0,0,0,0.75);
    .date {
        font-size: 9px;
        float: right;
        padding-right: 5px;
        padding-top: 4px;
        color: #fff;
    }
    h3 {
        font-size: 12px;
        text-align: center;
        position: relative;
        top: 10px;
        color: #fff;
    }
    p {
        display: block;
        color: #313131;
        margin: 0;
        text-align: center;
        margin-top: 17px;
    }
}

.username-profile {
    position: relative;
    top: 20px;
}

@media (max-width: 269px) {
    #user_avatar {
        font-size: 12px;
    }
}